@tailwind base;
@tailwind components;
@tailwind utilities;

/* .leaflet-control-container .leaflet-routing-container-hide {
  display: none;
} */

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", "Rubik", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3f3f46;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #0f172a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #020617;
}
